services:
  mysql:
    image: mysql:8.0
    container_name: findyou-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Asia/Seoul
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.2
    container_name: findyou-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  findyou-server:
    image: jjjjyy0704/findyou_repository:dev
    container_name: findyou-server-dev
    ports:
      - "9001:9001"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      TZ: Asia/Seoul
      JAVA_TOOL_OPTIONS: -XX:-UseContainerSupport
    env_file:
      - .env
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ${LOG_DIRECTORY}:/logs

volumes:
  mysql-data:
  redis-data:
