spring:
  application:
    name: findyou
  profiles:
    group:
      local : local-db, dev-port, common
      dev: dev-db, dev-port, common
      prod: prod-db, prod-port, common
    active: local
  web:
    resources:
      add-mappings: false
---
# 로컬에서 사용하는 DB
spring:
  config:
    activate:
      on-profile: local-db
  datasource:
    url: ${LOCAL_DATASOURCE_URL}
    username: ${LOCAL_DATASOURCE_USERNAME}
    password: ${LOCAL_DATASOURCE_PASSWORD}
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        highlight_sql: true
        dialect: org.hibernate.dialect.H2Dialect
---
# 개발용 DB
spring:
  config:
    activate:
      on-profile: dev-db
  datasource:
    url: ${DEV_DATASOURCE_URL}
    username: ${DEV_DATASOURCE_USERNAME}
    password: ${DEV_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        highlight_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
---
# 배포용 DB
spring:
  config:
    activate:
      on-profile: prod-db
  datasource:
    url: ${PROD_DATASOURCE_URL}
    username: ${PROD_DATASOURCE_USERNAME}
    password: ${PROD_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        highlight_sql: true
---
# 개발용 포트
spring:
  config:
    activate:
      on-profile: dev-port
server:
  port: 9001
  address: 0.0.0.0
---
# 배포용 포트
spring:
  config:
    activate:
      on-profile: prod-port
server:
  port: 9002
---
# 공통 속성
spring:
  config:
    activate:
      on-profile: common
  datasource:
    hikari:
      maximum-pool-size: 30  # 기본은 10, 상황에 맞게 조절
      minimum-idle: 10
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000

openapi:
  protecting-animal:
    api-url: https://apis.data.go.kr/1543061/abandonmentPublicService_v2
    api-key: ${PROTECTING_ANIMAL_API_KEY}
  kakao:
    api-url: "https://dapi.kakao.com/v2/local/search/address.json"
    api-key: ${KAKAO_REST_API_KEY}


logging:
  level:
    root: info

findyou:
  jwt:
    access:
      expire-ms: ${JWT_ACCESS_EXPIRE_MS}
    secret-key : ${JWT_SECRET_KEY}